<%= form_for([@project, @task]) do |f| %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, id: :task_title %>
    </div>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, id: :task_description %>
    </div>

    <div class="field">
        <%= f.label :task_status_id %>
        <%= f.select :task_status_id, options_for_select(@task_statuses), {}, { class: 'custom-select', id: 'task_status' } %>
    </div>

    <div class="field">
        <%= f.label :assignee_id %>
        <%= f.select :assignee_id, options_for_select(@assignee_options), { include_blank: true }, { class: 'custom-select', id: 'task_assignee' } %>
    </div>

    <div class="field">
        <%= f.label :tag_ids, "Tags" %>
        <%= f.collection_check_boxes :tag_ids, @available_tags, :id, :name do |b| %>
          <div class="tag-checkbox-item">
            <%= b.check_box class: 'tag-checkbox' %>
            <%= b.label class: 'tag-label' do %>
              <span class="tag-color-indicator" style="background-color: <%= b.object.color %>;"></span>
              <%= b.text %>
            <% end %>
          </div>
        <% end %>
        <% if @available_tags.empty? %>
          <p class="no-tags-message">
            Aucun tag disponible. <%= link_to 'Créer des tags', project_tags_path(@project), target: '_blank' %>
          </p>
        <% end %>
    </div>

    <div class="field">
        <%= f.label :due_date %>
        <%= f.date_field :due_date, id: :task_due_date %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>