<%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "logout-button" %>

<div class="user-dashboard">
  <div>
    <h1>Bienvenue, <%= @user.username %> 👋</h1>
    <p>Voici vos projets :</p>
  </div>

  <ul class="projects-list">
    <% @user.projects.each do |project| %>
      <li class="project-card">
        <h2><%= project&.name %></h2>
        <p><span>Description :</span><%= project&.description %></p>
        <p><span>Statut :</span> <%= project&.project_status&.name %></p>
        <%= link_to "Voir le projet", project_path(project) %>
      </li>
    <% end %>

    <li class="project-card project-card-add">
      <%= link_to new_project_path, class: "add-project-link" do %>
        <div class="add-project-content">
          <span class="plus-icon">+</span>
          <p>Nouveau projet</p>
        </div>
      <% end %>
    </li>
  </ul>
</div>
