<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, id: :project_name %>
    </div>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, id: :project_description %>
    </div>

    <div class="field">
        <%= f.label :project_status %>
        <%= f.select :project_status_id, options_for_select(@status_options), {}, { class: 'custom-select', id: 'project_status' } %>
    </div>

    <div class="field">
        <%= f.label :users %>
        <div class="users-chekbox">
            <%= f.collection_check_boxes :user_ids, User.all.where.not(id: current_user.id), :id, :username %>
        </div>
    </div>

    <div class="field">
        <%= f.submit class: 'btn-add' %>
    </div>
<% end %>
