<%= link_to 'Add task', new_project_task_path(@project), class: 'btn-add' %>
<%= link_to 'Back to projects', root_path, class: 'btn-back' %>

<h1><%= @project.name %></h1>

<p><%= @project.description %></p>

<p>State of project : <%= @project_status rescue "No status found" %></p>

<p>Number of participants : <%= @project.users.count == 1 ? "Only you" : @project.users.count %></p>



<% if @project_tasks.blank? %>
    <h2>Aucune tâche pour le moment</h2>
<% else %>
    <h2>Tâches</h2>
    <div class="task-carousel">
        <% @project_tasks.each do |task| %>
            <div class="task-card">
                <h2><%= task.title %></h2>
                <p>Description: <%= task.description %></p>
                <p>Status: <%= task.task_status&.name %></p>
                <p>Due date: <%= task.due_date&.strftime("%d/%m/%Y") || "Not set" %></p>
                <p>Assigned to: <%= task.assignee&.username || "Not assigned" %></p>
                <%= link_to "Show", project_task_path(task.project, task) %>
                <%= link_to "Edit", edit_project_task_path(task.project, task) %>
                <%= link_to "Destroy", project_task_path(task.project, task), data: { "turbo-method": :delete , turbo_confirm: 'Are you sure to delete task ?' } %>
            </div>
        <% end %>
    </div>
<% end %>

<div style="width: 20%; heigth: 20%">
    <canvas id="myChart"></canvas>
</div>

<style>

    .task-carousel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 15%;
        width: 100%;
        overflow-y: scroll;
    }

    .task-card {
        box-shadow: 0 0 10px #c9c9c9;
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        margin: 1rem;
        padding: .5rem;
        width: fit-content;
    }

</style>
